#middleImageWrap {
    position: relative;
}
#uploadBtn {
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 50%;
    margin-left: 50%;
}
#filepicker {
    background: #e3f2f3;
    border-radius: 4px;
    width: 276px;
    padding: 30px;
}